{#
/**
 * @file
 * Profile custom timezone block.
 */
#}
{{ attach_library('custom_timezone/my-jslibrary') }}
 <div class="col-sm-3 ws-custom--block">
    <h1>Example of Loading Time without clear cache</h1>
    <p>This Block Cache is not disbaled</p>
    <div id="ajax">
     <div id="showresults" style="font-size:14px; font-weight:bold;"> Please wait .. </div>
    </div>
    <p>{{description}}</p>
 </div>