{{ attach_library('bhge_user_registration/nonge-form-js') }}
<div class="messagediv">
<div class="homepagelinkmessagepage"><a href='/'>Return to Home Page</a></div>
<h2 class="responsemessagetext">{{ pendingmessage }}</h2>
</div>
