<section data-component="digital-binder" class="digital-binder">
  <div class="section-wrapper">
    <div class="content-wrapper dc-list-view digital-binder">
      <div class="digital-binder-first-form">
        <div class="desktop-nav-box navigation-box-form navigation-box">
          <h2 class="page-title">Digital Catalog Builder</h2>
          <div class="navigation-structure">
            <div class="add-documents"> Add Documents </div>
            <div class="add-documents-arrow navigation-arrow"></div>
            <div class="review-build"> Review & Build </div>
            <div class="review-build-arrow navigation-arrow"></div>
            <div class="merge-review"> Merge + Review </div>
          </div>
        </div>
        <div class="mobile-nav-box navigation-box-form navigation-box">
          <div class="navigation-structure">
            <div class="add-documents"> Add</div>
            <div class="add-documents-arrow navigation-arrow"></div>
            <div class="review-build"> Review</div>
            <div class="review-build-arrow navigation-arrow"></div>
            <div class="merge-review"> Merge</div>
          </div>
        </div>
        {{ binderForm }}
      </div>
    </div>
  </div>
  <div class="mobile-filter-buttons">
    <a href="#overlay" id="dc-overlay-filter" class="cta component-cta full wide light title-cta js-open-filter dc-overlay-filter-form dc-overlay-filter">
    <span class="copy">Filter</span>
    </a>
    <span id="dc-overlay-filter-review" class="cta component-cta full wide light title-cta js-open-filter dc-overlay-filter">
    <span class="copy review">Review</span>
    </span>
  </div>
</section>