<section data-component="digital-binder" class="digital-binder">
    <div class="section-wrapper">
        <div class="content-wrapper dc-list-view digital-binder">
					<div class="digital-binder-first-form">
						<div class="navigation-box-form navigation-box">
							<h2 class="page-title">Digital Catalog Builder</h2>
							<div class="navigation-structure">
								<div class="add-documents"> Add Documents </div>
								<div class="add-documents-arrow"><img src="/themes/custom/bhge/image/digital-binder/forward-gray.png" /></div>
								<div class="review-build"> Review & Build </div>
								<div class="review-build-arrow"><img src="/themes/custom/bhge/image/digital-binder/forward-gray.png" /></div>
								<div class="merge-review"> Merge + Review </div>
							</div>
						</div>
            {{ binderForm }}
					</div>
        </div>
    </div>
</section>