<section data-component="digital-binder" class="digital-binder">
	<div class="section-wrapper">
		<div class="content-wrapper dc-list-view">
			<div class="binder-search-result">
				<div class="navigation-box-result navigation-box">
					<h2 class="page-title">Digital Catalog Builder</h2>
					<div class="navigation-structure">
						<div class="add-documents"> Add Documents </div>
						<div class="add-documents-arrow"><img src="/themes/custom/bhge/image/digital-binder/forward-green.png" /></div>
						<div class="review-build"> Review & Build </div>
						<div class="review-build-arrow"><img src="/themes/custom/bhge/image/digital-binder/forward-blue.png" /></div>
						<div class="merge-review"> Merge + Review </div>
					</div>
				</div>
				<div class="catalog-build-img">
					<img src='/themes/custom/bhge/image/digital-binder/download-arrow.png' class='binder-pdf-icon'/>
				</div>
				<div class="catalog-build">
					<span>Catalog Build</span>
				</div>
				<div class="merged_pdf_content">
					<a href = ' {{ merged_pdf }} ' target='_blank'>Preview</a>
				</div>
			</div>
		</div>
	</div>
</section>